{% extends "base.html" %}

{% block title %} Expert - questions {% endblock%}

{% block content %}
  {% block question_view_title %}
    <h1>New Questions</h1>
  {% endblock%}
  {% for question in questions %}
    <div class="question-list-block">
    {% block question_title %}
      <h2><a href="">{{ question.title }}</a></h2>
      {% block question_text %}
      <div class="question-list-title">{{ question.text }}</div>
      {% endblock %}
    {% endblock %}
    </div>
  {% endfor %}

  {% include "pagination.html" %}
{% endblock%}
